<h1>Listing Lesson Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hourly rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lesson_types.each do |lesson_type| %>
  <tr>
    <td><%= lesson_type.name %></td>
    <td><%= lesson_type.hourly_rate %></td>
    <td><%= link_to 'Show', lesson_type %></td>
    <td><%= link_to 'Edit', edit_lesson_type_path(lesson_type) %></td>
    <td><%= link_to 'Destroy', lesson_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson Type', new_lesson_type_path %>
