<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start%>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end%>
  </div>
  <% if params[:teacher_id] %>
  <% @teacher = Teacher.find(params[:teacher_id]) %>
  <% end %>
  <div class="field">
    <%= f.label :teacher %><br />
    <% if @teacher %>
      <%= f.text_field :teacher, :value => @teacher.id %>
    <% else %>
      <%= f.collection_select(:teacher, Teacher.all, :id, :full_name) %>
    <% end %>
  </div>
  <% if params[:course_id] %>
  <% @course = Course.find(params[:course_id]) %>
  <% end %>
  <div class="field">
    <%= f.label :pupil %><br />
    <% if @course %>
      <%= f.text_field :course, :value => @course.id %>
    <% else %>
      <%= f.collection_select(:course, Course.all, :id, :long_name) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
