<p id="notice"><%= notice %></p>

<p>
  <b>Pupil Name:</b>
  <%= @course.pupil.full_name %>
</p>

<p>
  <b>Course type:</b>
  <%= @course.course_type.name %>
</p>

<p>
  <b>Min hours:</b>
  <%= "#{@course.course_type.min_minutes / 60} (#{@course.course_type.min_minutes} minutes)" %>
</p>
<p>
  <b>Payement details:</b>
  <%= "amount y of total z, still to pay: x" %>
</p>

<p>
  <b>Lessons:</b>
  <%= @course.lessons %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
