<h2>Listing pupils</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>First name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pupils.each do |pupil| %>
  <tr>
    <td><%= pupil.name %></td>
    <td><%= pupil.first_name %></td>
    <td><%= link_to 'Show', pupil %></td>
    <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
    <td><%= link_to 'Destroy', pupil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pupil', new_pupil_path, {:class => "btn"} %>
