<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pupil.name %>
</p>

<p>
  <b>First name:</b>
  <%= @pupil.first_name %>
</p>
<p>
  <b>Lessons:</b>
  <ol>
  <% @pupil.lessons.each do |lesson| %>
      <li> <%= lesson.teacher.full_name %> </li>
  <% end %>
  </ol>
</p>


<%= link_to 'New Lesson', new_pupil_lesson_path(@pupil) %> |
<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
