<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pupil.name %>
</p>

<p>
  <b>First name:</b>
  <%= @pupil.first_name %>
</p>
<p>
  <b>Courses:</b>
  <ol>
  <% @pupil.courses.each do |course| %>
      <li> <%= link_to course.course_type.name, course_path(course) %> | <%= link_to 'Add Lesson', new_course_lesson_path(course) %></li>
  <% end %>
  </ol>
</p>


<%= link_to 'New Course', new_pupil_course_path(@pupil) %> |
<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
